/*------------------------------------------------------BACKGROUND IMAGE*/
body {
    background-image: url('https://media.istockphoto.com/id/651780694/vector/black-and-red-seamless-pattern-fabric-poker-table-minimalistic-casino-vector-3d-background.jpg?s=612x612&w=0&k=20&c=spgr9beVHN-dvZN2zS3U_d2Zz1OcfALJ5yFChePDRbA=');
    background-repeat: no-repeat;
    background-size: cover;
}
/*------------------------------------------------------*/